@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --primary-color: #1C448E;
    --secondary-color: #5783B2;
    --heading-color: #d0d7ad;
    --body-background-color: #e2e5d5;
    --box-color: #d8debb;
    --accent1-color: #F5FFC6;
    --accent2-color: #C3A397;

    --heading-font: 'Roboto', Tahoma sans-serif;
    --paragraph-font: 'Open Sans', 'Trebuchet MS', sans-serif;

    --nav-background-color: #E2E5D5;
    --nav-link-color:#050660;
    --nav-hover-link-color: #E2E5D5;
    --nav-hover-background-color: #050660;

    --button-color-1: #ae8456;
    --button-color-2: #ffffff;
}

article {
    background-color: rgba(216, 222, 187, 0.8);
    left: 0;
    margin: 0 auto;
    max-width: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100px;
}

body {
    background-color: var(--body-background-color);
    margin: 0 auto;
    padding: 10px;
    width: 1200px;
}

caption {
    color: var(--primary-color);
    font-family: var(--heading-font);
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

fieldset {
    border: 1px solid var(--accent2-color);
    display: grid;
    font-family: var(--heading-font);
    grid-gap: .2rem;
    padding: 0.25rem;
}

figcaption {
    color: var(--primary-color);
    font-family: var(--paragraph-font);
    font-size: 0.8rem;
}

footer {
    display: grid;
    font-size: 0.9rem;
    gap: 10px;
    grid-column: 1/2;
    grid-row: 1/2;
    grid-template-columns: 3fr 1fr;
    padding-left: 10px;
}

h1 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: center;
}

h2 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: center;
}

h3 {
    color: var(--primary-color);
    font-family: var(--heading-font);
    text-align: center;
}

header {
    background-color: var(--heading-color);
    color: var(--secondary-color);
    display: grid;
    gap: 5px;
    grid-template-columns: 1fr 1fr 2fr 1fr;
    padding: 10px;
    text-align: center;
}

header img {
    grid-column: 2/3;
    grid-row: 1;
    width: 75px;
}

img {
    border-radius: 8px;
}

input {
    background-color: #add8e6;
    font-size: 1.2rem;
    margin: 10px;
}

label {
    font-style: italic;
}

nav {
    align-items: center;
    display:flex;
    flex: 200px;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 3/4;
    grid-row: 1;
    font-size: 1.2rem;
    justify-content: normal;
}

nav a {
    color: var(--nav-link-color);
    padding: 0.5rem;
    text-decoration: underline;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    background-color: var(--nav-hover-background-color);
    color: var(--nav-hover-link-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--primary-color);
}

section {
    background-color: var(--box-color);
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

section img {
    padding: 5px;
    position: relative;
    width: 150px;
}

table {
    border: var(--box-color);
    border-collapse: collapse;
    margin: 50px auto;
    padding: 20px;
    width: 100%;
}

thead, tfoot {
    background-color: var(--heading-color);
    font-family: var(--heading-font);
    font-size: 1rem;
}

tbody {
    background-color: var(--nav-background-color);
    font-family: var(--paragraph-font);
    font-size: 1rem;
}

th, td {
    border: 1px solid var(--accent2-color);
    padding: .8rem;
}

tr:nth-child(even) {
    background-color: var(--box-color);
}

textarea {
    background-color: #add8e6;
    margin: 10px;
}

.about-history {
    background-color: var(--box-color);
    display: grid;
    gap: 0px;
    grid-template-columns: 1fr 4fr;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 20px;
}

.about-history h2 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.about-history img {
    grid-column: 1/2;
    grid-row: 2/3;
}

.about-history p {
    grid-column: 3/6;
    grid-row: 2/3;
}

.about-pictures {
    background-color: var(--box-color);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    padding: 0px;
}

.about-pictures h2 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.about-pictures p {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.about-pictures img {
    padding: 0px;
}

.about-pictures-one {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.about-pictures-two {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.about-pictures-three {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.about-pictures-four {
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: center;
}

.about-pictures-five {
    grid-column: 5/6;
    grid-row: 3/4;
    text-align: center;
}

.contact-form {
    background-color: var(--box-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    width: 600px;
}

.contact-form button {
    background-color: var(--button-color-1);
    border:none;
    border-radius: .5rem;
    font-size: 1rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0.75rem;
    width: 200px;
}

.contact-form button:hover {
    background-color: var(--button-color-2);
    font-size: 1rem;
    padding: 0.75rem;
}

.contact-form p {
    font-family: var(--paragraph-font);
    grid-column: 1/5;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.contact-form-fields2 {
    font-family: var(--paragraph-font);
    grid-column: 1/5;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.contact-form-fields4 {
    align-self: center;
    font-family: var(--paragraph-font);
    font-size: 0.9rem;
    grid-column: 1/5;
    margin-bottom: 5px;
    margin-top: 15px;
    text-align: center;
}

.contact-form-subscribe {
    font-size: 0.8rem;
}

.contact-info {
    background-color: var(--box-color);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
}

.contact-info h2 {
    grid-column: 1/5;
    grid-row: 1/2;
}

.contact-info h3 {
    grid-column: 2/3;
    grid-row: 2/3;
    color: var(--primary-color);
    font-family: var(--heading-font);
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 10px;
}

.contact-info p {
    grid-column: 2/3;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
}

.contact-info-map {
    grid-column: 3/4;
    grid-row: 2/3;
    padding-bottom: 10px;
}

.contact-pictures {
    background-color: var(--box-color);
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    padding: 0px;
}

.contact-pictures h2 {
    grid-column: 1/5;
    grid-row: 1/2;
}

.contact-pictures img {
    padding: 0px;
}

.contact-pictures-one {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.contact-pictures-two {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.contact-pictures-three {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.contact-pictures-four {
    grid-column: 4/5;
    grid-row: 3/4;
    text-align: center;
}

.hero {
    position: relative;
}

.hero h1 {
    top: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: absolute;
}

.hero article img {
    float: right;
    opacity: 1;
    width: 200px;
}

.hero img {
    display: block;
    height: auto;
    opacity: 0.3;
    width: 100%;
}

.home-cta {
    text-align: center;
}

.home-images {
    background-color: var(--box-color);
    display: grid;
    height: auto;
    gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0px;
}

.home-images img {
    padding: 0px;
    height: auto;
    width: 30rem;
}

.home-images-one {
    grid-column: 1/2;
    grid-row: 2/3;
    text-align: center;
}

.home-images-two {
    grid-column: 2/3;
    grid-row: 2/3;
    text-align: center;
}

.home-images p {
    font-family: var(--paragraph-font);
    font-size: 1rem;
    grid-column: 1/6;
    grid-row: 1/2;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.home-newsletter {
    background-color: var(--box-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    margin: 0 auto;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 600px;
}

.home-newsletter button {
    background-color: var(--button-color-1);
    border:none;
    border-radius: .5rem;
    font-size: 1rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0.75rem;
    width: 200px;
}

.home-newsletter h2 {
    font-size: 1rem;
}

.home-newsletter button:hover {
    background-color: var(--button-color-2);
    font-size: 1rem;
    padding: 0.75rem;
}

.home-top {
    position: relative;
}

.home-top h1 {
    left: 0;
    right: 0;
    margin-top: 175px;
    padding-top: 2rem;
}

.home-top img {
    display: block;
    width: 100%;
}

.home-top p {
    font-family: var(--paragraph-font);
    font-size: 1.2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    text-align: center;
}

.home-top-section {
    background-color: var(--body-background-color);
    position: relative;
}

.home-top-section img {
    position: absolute;
    height: auto;
    width: 25%;
    margin-left: 425px;
}

.nav-button {
    background-color: var(--body-background-color);
    border: 1px solid #000000;
    color: #333333;
    font-family: var(--paragraph-font);
    font-size: 1rem;
    padding: 0.75rem;
    text-decoration: none;
}

.sociallinks {
    grid-column: 4/5;
    grid-row: 1/2;
    justify-content:right;
    justify-items: right;
}

.sociallinks img {
    height: auto;
    width: 50%;
}

.trips-details {
    background-color: var(--box-color);
    display: grid;
    height: auto;
    gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    padding: 0px;
}

.trips-details h2 {
    grid-column: 1/6;
    grid-row: 1/2;
    margin-bottom: 0rem;
    margin-top: 2rem;
    padding: 0px;
}

.trips-details h3 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.trips-details p {
    grid-column: 1/3;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.trips-details img {
    padding: 0px;
    height: auto;
    width: 20rem;
}

.trips-details-one {
    border-color: var(--box-color);
    border-style: ridge;
    display: grid;
    grid-column: 1/6;
    grid-row: 3/4;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.trips-details-one h3 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.trips-details-one-one {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-one-two {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-one-three {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-one p {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.trips-details-two {
    border-color: var(--box-color);
    border-style: ridge;
    display: grid;
    grid-column: 1/6;
    grid-row: 4/5;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.trips-details-two h3 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.trips-details-two-one {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-two-two {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-two-three {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-two p {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.trips-details-three {
    border-color: var(--box-color);
    border-style: ridge;
    display: grid;
    grid-column: 1/6;
    grid-row: 5/6;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
}

.trips-details-three h3 {
    grid-column: 1/6;
    grid-row: 1/2;
}

.trips-details-three-one {
    grid-column: 1/2;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-three-two {
    grid-column: 2/3;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-three-three {
    grid-column: 3/4;
    grid-row: 3/4;
    text-align: center;
}

.trips-details-three p {
    grid-column: 1/6;
    grid-row: 2/3;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
}

.trips-top {
    position: relative;
}

.trips-top h1 {
    left: 0;
    right: 0;
    margin-bottom: 0;
    margin-top: 1.5rem;
}

.trips-top img {
    display: block;
    height: 20rem;
    width: 100%;
}

.trips-top p {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1.5rem;
    text-align: center;
}
