@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --primary-color: #1C448E;
    --secondary-color: #5783B2;
    --heading-color: #d0d7ad;
    --body-background-color: #e2e5d5;
    --box-color: #d8debb;
    --accent1-color: #F5FFC6;
    --accent2-color: #C3A397;

    --heading-font: 'Roboto', Tahoma sans-serif;
    --paragraph-font: 'Open Sans', 'Trebuchet MS', sans-serif;

    --nav-background-color: #E2E5D5;
    --nav-link-color:#050660;
    --nav-hover-link-color: #E2E5D5;
    --nav-hover-background-color: #050660;
}

* {
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
    background-color: var(--body-background-color);
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

button {
    align-self: center;
    background-color: blue;
    border: none;
    border-radius: .5rem;
    font-size: 1.2rem;
    color: white;
    margin: 1rem;
    padding: .75rem;
    width: 200px;
}

button:hover {
    background-color: green;
    color: white;
}

fieldset {
    border: 1px solid var(--accent2-color);
    display: grid;
    grid-gap: .2rem;
    padding: 0.25rem;
}

footer {
    margin-top: 10px;
    text-align: center;
}

form {
    background-color: var(--nav-background-color);
    border: 1px solid black;
    border-radius: 0.5rem;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    width: 600px;
}

header {
    margin: 0 auto;
    max-width: 640px;
}

h1 {
    border-bottom-style: double;
    color: steelblue;
    margin: 1rem;
    text-align: center;
}

label, input, button, select, textarea {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.5rem;
}

input, select, textarea {
    background-color: lightblue;
    font-size: 1.2rem;
    padding: .5rem;
}

input[type="checkbox"] {
    background-color: lightblue;
    height: 30px;
    vertical-align: bottom;
    width: 30px;
}

label {
    padding-right: 1rem;
    text-align: center;
}

legend {
    color: green;
    font-weight: 600;
    padding: 1rem;
}

.column1 {
    grid-template-columns: 1.5fr 1.5fr;
    margin: 0.1rem 0;
}

.column2 {
    grid-template-columns: 1fr 2fr;
}

.form-item {
    align-items: center;
    display: grid;
}

