@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

:root {
    --primary-color: #f6fcf8d6;
    --heading-color: #54471d;
    --footer-color: #54471d;
    --body-background-color: #f5e3cf;
    --accent-color: #7e3f0b;
    --border-color: #693d18;

    --heading-font: 'Roboto', Tahoma sans-serif;
    --paragraph-font: 'Open Sans', 'Trebuchet MS', sans-serif;

    --button-color-1: #ae8456;
    --button-color-2: #ffffff;

}

* {
	box-sizing: border-box;
    margin: 0;
	padding: 0;
}

body {
    background-color: var(--body-background-color);
    color: var(--primary-color);
    font-family: var(--paragraph-font);
}

button {
    align-self: center;
    background-color: var(--button-color-1);
    border: none;
    border-radius: .5rem;
    color:  var(--button-color-2);
    font-size: 1.2rem;
    height: 3rem;
    margin: 0 auto;
    margin-top: 0.5rem;
    padding: 0.75rem;
    width: 200px;
}

button:hover {
    background-color:  var(--button-color-2);
    color: var(--button-color-1);
}

fieldset {
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    display: grid;
    grid-gap: .2rem;
    padding: 0.25rem;
}

footer {
    color: var(--footer-color);
    margin-top: 10px;
    text-align: center;
}

form {
    border: 7px solid var(--border-color);
    border-radius: 0.5rem;
    display: grid;
    margin: 0 auto;
    padding: 1rem;
    width: 600px;
}

header {
    margin: 0 auto;
    max-width: 640px;
}

h1 {
    border-bottom-style: double;
    color: var(--heading-color);
    margin: 1rem;
    text-align: center;
}

input, select, textarea {
    font-size: 1rem;
    padding: 0.5rem;
}

label {
    color: #ffffff;
    padding: 1rem;
    text-align: left;
}

.numbold {
    color: #f6b867;
    font-weight: bold;
}