* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

aside {
    text-align: center;
    position: relative;
    width: 400px;
}

aside h2 {
    left: 0px;
    position: absolute;
    top: 0px;
    width: 400px;
}

aside img {
    height: auto;
    padding: 10px;
    width: 200px;
}

footer {
    border-top: 3px solid rgba(0,0,0,.3);
    margin-top: 10px;
    text-align: center;
}

h1 {
    color: steelblue;
}

li {
    float: left;
    margin: 10px;
    padding: 0px;
}

li a {
    display: block;
    padding: 0px;
}

main {
    max-width: 840px;
}

main img {
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    float: right;
    height: auto;
    padding: 2px;
    width: 150px;
}

nav {
    background-color: steelblue;
    text-align: center;
}

nav a {
    color: white;
    display:inline-table;
    padding: 10px;
}

p {
    padding: 0;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

/* Class Selectors */
.box {
    background-color: lightblue;
    border: 1px maroon;
    color: white;
    margin: 1rem;
    padding: 1rem;
}