aside {
    background-color: darkblue;
    border: 1px solid rgba(0,0,0,.3);
    color: white;
    margin: 15px;
    padding: 15px;
    text-align: center;
    width: 400px;
}
aside img {
    height: auto;
    width: 200px;
}
footer {
    border-top: 3px solid rgba(0,0,0,.3);
    margin-top: 10px;
    text-align: center;
}
h1 {
    color: steelblue;
}
main {
    max-width: 840px;
}
main img {
    border: 1px solid steelblue;
    box-shadow: 0 0 30px gray;
    height: auto;
    padding: 2px;
    width: 150px;
}
nav {
    background-color: steelblue;
}
nav a {
    color: white;
    display: block;
    padding: 20px;
}
p {
    padding: 0;
}